
		<div id="footer">
			<div class="container-fluid">
		        <div class="row">
	    			<div class="col-sm-4">
	    			<p>INTRODUCE</p>
	    			<p>Nhóm 19</p>
	    			<p>Khoa CNTT Trường Đại học Khoa học tự nhiên TPHCM</span>
			        </div>
			        <div class="col-sm-4">
			        </div>
			        <div class="col-sm-4">
			        	<p> CONTACT </p>
			        	<div>
			        		<a href=""><img src="images/facebook.png" id="iconfooter" alt="FACEBOOK: ">WEB BÁN HÀNG</a>
			        	</div>
			        	<div>
			        		<a href=""><img src="images/map.png" id="iconfooter" alt="MAP: ">20 Nguyễn Văn Cừ Quận 5 TPHCM</a>
			        	</div>
			        </div>
		        </div>
			</div>
		</div>
	<script type="text/javascript">
		function logout () {
			localStorage.removeItem("username");
			localStorage.removeItem("isadmin");
		}
	</script>
</body>
</html>